node_modules
.env
dist
.DS_Store
.swp

yarn-error.log
.yarn/install-state.gz
.yarn/build-state.yml

# Playwright MCP auth state
.auth-state.json

apps/MemoryFlashServer/.gitignore.swp
apps/ios/MemoryFlashiOS.xcodeproj/xcuserdata/sam.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
apps/ios/MemoryFlashiOS.xcodeproj/project.xcworkspace/xcuserdata/sam.xcuserdatad/UserInterfaceState.xcuserstate
*.tsbuildinfo
